<connection-lost></connection-lost>

<div class="loader" ng-if="!currentRoom">
  <md-progress-circular class="md-hue-2 md-warn" md-mode="indeterminate"></md-progress-circular>
</div>
<div flex layout="row" class="chat-container" ng-show="currentRoom">

  <md-sidenav
    md-is-locked-open="$mdMedia('gt-md')"
    class="md-whiteframe-z1"
    md-component-id="left">

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h3>

          <battery-level style="fill: #fff; position: relative; top: 4px;"></battery-level>
          Time: <clock format="HH:mm"></clock>

        </h3>
      </div>
    </md-toolbar>

    <rooms chat-id="chatId"></room>

  </md-sidenav>

  <div layout="column" role="main" flex class="messages-container">
    <md-toolbar class="md-default-theme" layout="row">
      <md-button class="menu" hide-gt-md ng-click="toggleLeft()" aria-label="Show User List">
        <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
      </md-button>

      <div class="md-toolbar-tools">
        <h3>
          <span>{{currentRoom.name}}
            <span ng-if="currentRoom.topic">- {{currentRoom.topic}}</span>
          </span>
        </h3>

        <div class="md-toolbar-item md-tools" layout="column" layout-gt-md="row">
          <small>Online: <online-count chat-id="chatId"></online-count></small>
        </div>

      </div>
    </md-toolbar>
    <md-content flex scroll-glue class="md-whiteframe-z1 md-padding" id="content" md-scroll-y>
      <messages room="currentRoom" chat-id="chatId" scroll-glue ng-if="currentRoom"></messages>

      <div class="typing-container">
        <small ng-if="peopleTyping.length">
          <span ng-repeat="person in peopleTyping">
            {{person}}<span ng-if="!$last">,</span>
          </span>
          <span ng-if="peopleTyping.length == 1">is</span>
          <span ng-if="peopleTyping.length > 1">are</span>
          typing..
        </small>
      </div>

    </md-content>
  </div>
</div>

<div flex class="send-message-container" ng-show="currentRoom">
  <form ng-submit="saveMessage()">
    <md-content flex layout="row" class="md-whiteframe-z1 md-padding">
      <md-input-container flex="15">
        <label>Your name</label>
        <input placeholder="Your message" ng-model="from" set-focus="focusUsername" ng-change="setUsername()">
      </md-input-container>
      <md-input-container flex>
        <label>Your message</label>
        <input placeholder="Your message" ng-model="message" ng-change="i_am_typing()" keydown="browseHistory(key)">
      </md-input-container>

      <input type="file" id="image-upload" onchange="angular.element(this).scope().uploadFile(this)" />

      <md-button type="button" aria-label="Select picture" md-no-ink class="md-primary select-file-container" ng-click="selectFile()">
        <i class="fa fa-file-image-o select-file"></i>
      </md-button>

      <md-button
        md-no-ink
        ng-click="useCamera()"
        ng-if="cameraSupported"
        type="button"
        aria-label="Take picture"
        class="md-primary">
        <i class="fa fa-camera select-file"></i>
      </md-button>

      <md-button md-no-ink class="md-primary" type="submit">Send</md-button>
    </md-content>
  </form>
</div>
