<connection-lost></connection-lost>
<title-notifier></title-notifier>

<loader current-room="currentRoom"></loader>

<div flex layout="row" class="chat-container">

  <md-sidenav
    md-is-locked-open="$mdMedia('gt-md')"
    class="md-whiteframe-z1"
    md-component-id="left">

    <sidenav chat-id="chatId"></sidenav>

  </md-sidenav>

  <div layout="column" role="main" flex class="messages-container">

    <md-toolbar>
      <toolbar chat-id="chatId" current-room="currentRoom"></toolbar>
    </md-toolbar>

    <md-content
      md-scroll-y
      scroll-glue
      flex
      scroll-load-more="loadMore()"
      class="md-whiteframe-z1 md-padding"
      id="content">
      <messages room="currentRoom" chat-id="chatId" scroll-glue ng-if="currentRoom"></messages>
    </md-content>

  </div>
</div>

<message-form chat-id="chatId" current-room="currentRoom" room-id="roomId"></message-form>
