<md-dialog aria-label="Help">
  <md-subheader class="md-sticky-no-effect">
    Help
  </md-subheader>
  <md-dialog-content>
    <div class="help-container">
    <p>
      <code>/topic</code> sets topic of the current channel.
    </p>

    <p>
      <code>/join <strong>channel</strong></code> joins channel.
    </p>
    <p>
      <code>/create <strong>channel</strong></code> creates channel
    </p>
    <p>
      <code>/help</code> shows this message.
    </p>
    </div>
  </md-dialog-content>
</md-dialog>
