<md-dialog aria-label="Help">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Help</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()" aria-label="Close">
        <i class="fa fa-times close"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="help-container">
    <p>
      <code>/topic</code> sets topic of the current channel.
    </p>
    <p>
      <code>/join <strong>channel</strong></code> joins channel.
    </p>
    <p>
      <code>/create <strong>channel</strong></code> creates channel
    </p>
    <p>
      <code>/help</code> shows this message.
    </p>
    <p>
      <code>/signup</code> displays signup modal.
    </p>
    <p>
      <code>/signin</code> displays signin modal.
    </p>
    </div>
  </md-dialog-content>
</md-dialog>
