<md-content>

  <div class="message-loader" ng-if="!messagesFetched[room._id]">
    <div class="loader">
      <md-progress-circular class="md-hue-2 md-warn" md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>

  <md-list>

    <md-list-item
      class="chat-messages"
      ng-repeat="item in messages[room._id] | orderBy:'createdAt'">

      <span class="page-{{item.page}}"></span>

      <md-button
        md-no-ink
        class="md-fab avatar"
        aria-label="{{item.from}}"
        style="background-color: #{{item.color}};"
        ng-if="!item.is_me">
        {{item.from | limitTo:1}}
      </md-button>


      <p>
        <span
          class="message"
          ng-class="{their: item.is_me, notify: item.notify_user}">

          <strong class="from">{{item.from}}</strong><br/>
          <span ng-bind-html="item.message" ng-class="{'green-text': item.isGreenText}"></span>

          <!-- epic whitespace hack to create random width bubbles -->
          <span ng-repeat="i in whitespaces">&nbsp;</span>


          <span ng-if="item.images" class="media-preview">

            <img
              ng-class="{'image-gallery': item.images.length > 1}"
              ng-repeat="image in item.images"
              ng-click="openImage(image)"
              ng-src="{{image}}">
          </span>

          <span ng-if="item.youtubeId" class="media-preview">
            <span ng-if="item.videoOpened">
              <youtube-video
                video-id="item.youtubeId"
                player-vars="youtubeOptions"
                player-width="'100%'"
                player-height="'200px'"></youtube-video>

              <a ng-href="https://www.youtube.com/watch?v={{item.youtubeId}}" target="_blank">https://www.youtube.com/watch?v={{item.youtubeId}}</a>

            </span>

            <span ng-if="!item.videoOpened">
              <img ng-src="http://img.youtube.com/vi/{{item.youtubeId}}/0.jpg" ng-click="openYoutubeVideo(item)">

            </span>

            <br>
            <a href="#" ng-click="openYoutubeDialog(item.youtubeId)">
              <i class="fa fa-external-link-square"></i> Open video in dialog
            </a>

          </span>

          <span ng-if="item.vimeoId" class="media-preview">
            <vimeo-video
              video-id="item.vimeoId"
              player-width="340"
              player-height="200"></vimeo-video>

            <a ng-href="https://www.vimeo.com/{{item.vimeoId}}" target="_blank">https://www.vimeo.com/{{item.vimeoId}}</a>
          </span>


          <span class="time">{{item.createdAt | amCalendar}}</span>
        </span>
      </p>


      <md-button
        md-no-ink
        class="md-fab avatar"
        aria-label="{{item.from}}"
        style="background-color: #{{item.color}};"
        ng-if="item.is_me">
        {{item.from | limitTo:1}}
      </md-button>


    </md-list-item>
  </md-list>

</md-content>

<div class="typing-container">
  <small ng-if="peopleTyping.length">
    <span ng-repeat="person in peopleTyping">
      {{person}}<span ng-if="!$last">,</span>
    </span>
    <span ng-if="peopleTyping.length == 1">is</span>
    <span ng-if="peopleTyping.length > 1">are</span>
    typing..
  </small>
</div>