<md-content>

  <div class="message-loader" ng-if="!messagesFetched[room._id]">
    <div class="loader">
      <md-progress-circular class="md-hue-2 md-warn" md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>

  <div ng-if="!messages[room._id].length && messagesFetched[room._id]" class="no-messages">
    No messages, be cool gentleman and send the first message!
  </div>

  <md-list>

    <md-list-item
      class="chat-messages"
      ng-repeat="item in messages[room._id] | orderBy:'createdAt'">

      <span class="page-{{item.page}}"></span>

      <md-button
        md-no-ink
        class="md-fab avatar"
        aria-label="{{item.from}}"
        style="background-color: #{{item.color}};"
        ng-if="!item.is_me">
        {{item.from | limitTo:1}}
      </md-button>


      <p>
        <span
          class="message"
          ng-class="{their: item.is_me, notify: item.notify_user}">

          <message-content message="item"></message-content>

          <media-preview message="item"></media-preview>

        </span>
      </p>


      <md-button
        md-no-ink
        class="md-fab avatar"
        aria-label="{{item.from}}"
        style="background-color: #{{item.color}};"
        ng-if="item.is_me">
        {{item.from | limitTo:1}}
      </md-button>


    </md-list-item>
  </md-list>

</md-content>

<listen-to-typing chat-id="chatId" room-id="roomId" ng-if="roomId"></listen-to-typing>
