<md-content flex role="navigation" md-scroll-y>

  <md-input-container flex ng-if="rooms.length > 3">
    <label>Search rooms</label>
    <input ng-model="$parent.roomSearch.name" type="search">
  </md-input-container>


  <md-list style="padding: 0;" class="md-no-style">

    <md-list-item
      class="select-room md-no-style"
      ng-class="{selected: room.$selected}"
      ng-repeat="room in rooms | filter:roomSearch | orderBy:'-messages'"
      ng-click="setActiveRoom(room)"
      >

        <img ng-src="{{room.icon}}" class="face" alt="{{room.name}}" title="{{room.name}}">

        <h3>
          {{room.name}}
          <span ng-if="room.messages" class="badge">{{room.messages}}</span>
          <bouncy-loader ng-if="peopleTyping[chatId][room._id]"></bouncy-loader>
        </h3>

    </md-list-item>
  </md-list>


</md-content>