<md-content flex role="navigation" md-scroll-y>

  <md-input-container flex ng-if="rooms.length > 3">
    <label>Search rooms</label>
    <input placeholder="Search rooms" ng-model="$parent.roomSearch.name" type="search">
  </md-input-container>

  <md-button
    ng-click="toggleLeft()"
    class="md-primary"
    hide-gt-sm>
    Toggle left
  </md-button>

  <md-list>
    <md-item
      ng-repeat="room in rooms | filter:roomSearch | orderBy:'-messages'"
      ng-click="setActiveRoom(room)">
      <md-item-content
        class="select-room"
        ng-class="{selected: room.$selected}">

        <div class="md-tile-left">
          <img ng-src="{{room.icon}}" class="face" alt="{{room.name}}" title="{{room.name}}">
        </div>
        <div class="md-tile-content">
          <h3>{{room.name}} <span ng-if="room.messages" class="badge">{{room.messages}}</span></h3>
        </div>
      </md-item-content>
    </md-item>
  </md-list>


  <!-- // refactor to room directive
  <md-content class="md-padding">
    <form ng-submit="createRoom()">
      <md-input-container flex>
        <label>Room name</label>
        <input placeholder="Room name" ng-model="roomName">
      </md-input-container>

      <md-button class="md-primary md-raised" type="submit">Create room</md-button>
    </form>
  </md-content> -->

</md-content>