battery-level {
  fill: #ffffff;
  position: relative;
  top: 4px;
}

camera .camera-cancel {
  float: right;
  margin-right: 25px;
}
camera .md-subheader.md-default-theme {
  background-color: #dcedc8;
  margin: 0;
}

a {
  cursor: pointer;
}
.messages-container {
  z-index: 1;
}
.md-button {
  min-width: 20px;
}
.message-tools {
  margin: 0;
}
.typing-container {
  height: 20px;
  color: #666;
}
#image-upload {
  display: none;
}
.select-file {
  font-size: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color: #717171;
}
.face {
  border-radius: 50%;
  width: 60px;
  margin: 0 10px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  border: 3px solid #ffffff;
}
.badge {
  border-radius: 100%;
  padding: 4px 8px;
  background: rgba(15, 119, 12, 0.7);
  color: #ffffff;
  font-size: 14px;
  position: relative;
  top: -1px;
  margin-left: 10px;
}
.chat-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.chat-container .md-whiteframe-z1 {
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.03), 0 0px 3px 0 rgba(0, 0, 0, 0.084);
}
.send-message-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

md-dialog md-dialog-content {
  padding: 0;
}
md-dialog md-dialog-content.youtube-dialog {
  background: transparent;
  width: 640px;
}
md-dialog md-dialog-content .md-subheader .md-subheader-inner {
  padding: 0 10px;
}
md-dialog .close {
  font-size: 24px;
}
md-dialog img.image-preview {
  margin: auto;
  max-height: 600px;
  max-width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.help-container {
  padding: 10px 20px 10px 20px;
  min-width: 600px;
}
.help-container code {
  word-wrap: break-word;
  text-align: left;
  line-height: 17px;
  display: inline-block;
  border-radius: 7.5px;
  background: #f9ffff;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  position: relative;
  padding: 3px 10px 2px 9px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
}
.message-loader {
  height: 100px;
}

media-preview .media-preview {
  display: block;
  margin-top: 7px;
}
media-preview .media-preview .details {
  padding: 0 10px;
  display: block;
}
media-preview .media-preview .details span {
  display: block;
}
media-preview .media-preview .details span:last-child {
  margin-bottom: 2px;
}
media-preview .media-preview a {
  color: #000000;
  text-decoration: none;
}
media-preview .media-preview a:hover {
  text-decoration: underline;
}
media-preview .media-preview img {
  cursor: pointer;
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
}
media-preview .media-preview img.image-gallery {
  float: left;
  max-width: 45%;
  max-height: 120px;
  margin: 2px;
}
media-preview .youtube-thumbnail-container {
  position: relative;
  display: inline-block;
  min-width: 100%;
}
media-preview .youtube-thumbnail-container .youtube-play-button {
  cursor: pointer;
  position: absolute;
  font-size: 90px;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  line-height: 90px;
  opacity: 0.9;
  color: #e52d27;
}
media-preview .youtube-thumbnail-container .youtube-play-button:hover {
  opacity: 1;
}

@media (min-width: 1100px) {
  html,
  body {
    background-image: -webkit-radial-gradient(#ffff00, #f06d06);
    background-image: radial-gradient(#ffff00, #f06d06);
  }
  md-sidenav {
    border-radius: 3px 0 0 0;
  }
  .messages-container md-toolbar {
    border-radius: 0 3px 0 0;
  }
  .chat-container {
    bottom: 120px;
    max-width: 95%;
    margin: 20px auto 0;
  }
  .send-message-container {
    max-width: 95%;
    margin: 0 auto 20px;
  }
  .send-message-container md-content {
    border-radius: 0 0 3px 3px;
  }
}
@media (max-width: 1099px) {
  .chat-container {
    bottom: 100px;
  }
}

messages .no-messages {
  text-align: center;
  margin-top: 40px;
  color: #747474;
}
.chat-messages {
  padding: 16px 5px;
}
.chat-messages .md-fab.avatar {
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.chat-messages .message {
  min-width: 110px;
  max-width: 350px;
  font-size: .75em;
  padding-bottom: 18px;
  word-wrap: break-word;
  text-align: left;
  line-height: 17px;
  display: inline-block;
  border-radius: 7.5px;
  background: #f9ffff;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  position: relative;
}
.chat-messages .message .message-content {
  min-width: 130px;
  position: relative;
  padding: 8px 10px 0 9px;
  display: inline-block;
}
.chat-messages .message .green-text {
  color: #008000;
}
.chat-messages .message .time {
  color: rgba(47, 47, 47, 0.5);
  position: absolute;
  right: 7px;
  bottom: 2px;
  font-size: 11.5px;
}
.chat-messages .message:after,
.chat-messages .message:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
}
.chat-messages .message:after {
  border-right-color: #f9ffff;
  border-width: 6px;
  margin-top: -6px;
}
.chat-messages .message:before {
  border-width: 7px;
  margin-top: -7px;
}
.chat-messages .message.their {
  float: right;
  background: #fff7ec;
}
.chat-messages .message.their:after,
.chat-messages .message.their:before {
  right: 0;
  left: 100%;
}
.chat-messages .message.their:after {
  border-left-color: #fff7ec;
  border-right-color: transparent;
}
.chat-messages .message.notify {
  background-color: #ffe5c3;
}
.chat-messages .message.notify:after {
  border-right-color: #ffe5c3;
}
.chat-messages .message.notify.their:after {
  border-left-color: #ffe5c3;
}
.chat-messages .message .from {
  color: #666;
}

rooms h3 {
  font-weight: normal;
}
rooms md-list.md-default-theme md-list-item button {
  background-color: transparent;
  padding: 5px 5px 4px 5px;
}
rooms md-list.md-default-theme md-list-item button.md-button:not([disabled]):hover {
  background-color: transparent;
}
rooms .select-room.selected {
  background: #faebd7;
}
rooms .select-room.selected:hover {
  background: #F2E3CE;
}
rooms .select-room:hover {
  background: #f0f8ff;
}

